# General
*.log
.DS_Store

# Gradle
.gradle
build
gradle/
gradlew
gradlew.bat
cpd.xml

# IntelliJ IDEA
out
.idea
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.settings
.project
bin

# GWT
bin/
gwt-unitCache/
war/
*.html

# Mac
.DS_Store
